body {
	background-image: url("../images/ignasi_pattern_s.png");
}

header {
	background-color: #ffffff;
	width: 100%;
	margin-bottom: 4%;
}

.btn-link+.btn-link {
	border-left: solid 1px #ccc;
}

.btn-link:hover {
	text-decoration: none;
}

#logo {
	background-color: #4aaaa5;
	color: #ffffff;
}

#main-section {
	background-color: #ffffff;
}


#sidebar {
	background-color: #ffffff;
}


footer {
	padding: 30px 0;
  	clear: both;
  	font-size: 12px;
  	color: #fff;
  	color: #ccc;
  	text-align: center;
  	background: #666;
  	border-top: 8px solid #4aaaa5;
}

@media screen and (max-width: 640px){
	.container{
		width: 100%;
		padding: 0;
		margin: 0;
	}

	#logo {
		width: 100%;
	}

	.navbar {
		text-align: center;
		width: 100%;
	}

	.navbar-right {
		float: none;
	}
}

@media screen and (max-width: 768px){
	.navbar-right {
		float: right;
	}

}
